body{
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content:right;
    background-color: rgb(4, 16, 72);
    padding: 10px 40px;
    gap: 65%;
}
.logo{
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.nav{
    display: flex;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav a:hover{
    color: blue;
}
.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -15px;
    color: brown;
}
.hero p{
    font-family: 'Times New Roman', Times, serif;
}
.hero button{
    padding: 10px 20px;
    border: none;
    background-color: brown;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
}
.hero button:hover{
    background-color: aqua;
    color: black;
    transform: scale(1.2);
}